.homeHero {
  display: flex;
  box-sizing: border-box;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    align-items: center;
    justify-content: flex-end;
    &_media {
      display: flex;
      flex-direction: row;
      margin: auto;
      width: 100%;
      & li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        gap: 64px;

        & img {
          width: 50%;
          object-fit: contain;
        }
        & img::after{
          content: "";
          display: flex;
          position: relative;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          background-color: red;
        }
      }
      &___text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        & h1,
        & h2 {
          text-transform: uppercase;
        }
        & h1 {
          font-size: 4rem;
        }
        & h2 {
          font-size: 2rem;
          opacity: 0.5;
        }
      }
      &___decoration {
        display: flex;
        min-width: 60px;
        width: 60px;
        height: 60px;
        background-image: url("./decor.svg");
        background-size: cover;
      }
    }
    &_link {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      & li {
        & a {
          display: flex;
          padding: 24px 0;
          color: var(--main-black-bright-color);
          font-weight: 800;
        }
        
      }
    }
  }
}
