.button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  color: var(--main-black-bright-color);
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  text-align: right;
  
  &__icon {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    border: 1px solid var(--main-black-bright-color);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
}
