:root{
  --main-black-color: #171717;
  --main-black-bright-color: #212121;
  --main-dark-green-color: #01565B;
  --main-bright-green-color: #9DE200;
  --main-white-color: #ffffff;
  /* СКРУГЛЕННЯ */
  --first-radius: 24px;
  --second-radius: 12px;
  --third-radius: 6px;

}
html {
  font-family: var(--font-default);
  font-size: 16px;
  color: var(--main-black-color);
}
h1 {font-size: 2rem;}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-white-color);
  
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1600px;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  overflow: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  gap: 32px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
footer {
  margin-top: auto;
}